// aca van las variables, paleta de colores, reseteo de css

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de colores hecha con coolors.co */
$paleta: (
    lila: #D0ABE0,
    aguamarina: #8CCFA5,
    morado: #84728C,
    azulbebe: #B8D9C4,
    fucsia: #E649A7,
    );

@mixin fuente($font-name: Palanquin, $font-weight: 400) {
        font-family: quote($font-name), sans-serif;
        font-weight: $font-weight;
}

body {
    @include fuente();

    h1,
    h2,
    h3,
    h4,
    h5 {
        @include fuente(Palanquin, 700)
    }

}

main {
    margin: 2em;
    img {
    height: auto;
    max-width: 100%;
}

a {
        color: map-get($paleta , "fucsia");
}
}

