// aca van las variables, paleta de colores, reseteo de css

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de colores hecha con coolors.co */
$paleta: (
    lila: #D0ABE0,
    aguamarina: #8CCFA5,
    morado: #84728C,
    azulbebe: #B8D9C4,
    fucsia: #E649A7,
    );

