
.a-viajes {
    border: 1px solid map-get($paleta , "lila");
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}

.a-viajes img {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

